extends layout
block content
 h1= title
 form(id='BiryaniForm', action="/resource/biryanis", method="POST")
  div.form-group
    label.biryaniAttr(for='biryaniType') Biryani Type 
    input#biryaniType(type='text', name='biryaniType')
  div.form-group
    label.biryaniAttr(for='biryaniFlavor') Biryani Flavor
    input#biryaniFlavor(type='text', name='biryaniFlavor')
  div.form-group
    label.biryaniAttr(for='biryaniPrice') Biryani Price
    input#biryaniPrice(type='number', name='biryaniPrice')
  input(type="submit")
 script.
  document.forms['BiryaniForm'].addEventListener('submit', (event) => {
  event.preventDefault();
  // TODO do something here to show user that form is being submitted
  fetch(event.target.action, {
  method: 'POST',
  body: new URLSearchParams(new FormData(event.target)) // event.target is the form
  }).then((resp) => {
  return resp.json(); // or resp.text() or whatever the server sends
  }).then((body) => {
  alert("Save succeded")
  // TODO handle body
  }).catch((error) => {
  // TODO handle error
  alert("Save failed " + error )
  });
  });